#gameboard {
    z-index:1;
    position:absolute;
    left:5%;
    top:150;
    height:500;
    width:700;
    border:2px solid #ddd;
}

#links {
    float:right;
    border:1px solid #ccc;
    padding:0.5em;
    width:auto;
}

text {
    stroke:#666;
    fill:#666;
}    

circle {
    stroke-width:1;
    stroke: deepskyblue;
    fill: white;
}

.learning {
}

div.label {
    border-top:2px solid blue;
    border-left:2px solid blue;
    border-right:2px solid blue;
    border-bottom:0px;
    float:right;
    width:auto;
    background:yellow;
    font-size:smaller;
    margin-right:1%;
    padding:0.5%;
}

.learning div {
    text-align:center;
    float:left;
    width:auto;
    border:1.5px solid red;
    width:2em;
    margin-left:0.5em;
    padding:0.1%;
}
